<!DOCTYPE html>
<html>
<head>
	<title>vue js and php crud</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="root">
	<div class="container">
		<h1 class="fleft">List of users</h1>
		<button  @click="showAddModal = true; " class="addNew">Add new</button>
		<div class="clear"></div>
		<hr>
		<p v-if="showSuccMessage">{{showSuccMessage}}</p>
		<p v-if="showErrMessage">{{showErrMessage}}</p>

		<table class="list">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Mobile</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr v-for="user in users">
				<td>{{user.id}}</td>
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.mobile}}</td>
				<td><button  @click="showeditModal = true; selectUser(user);">Edit</button></td>
				<td><button @click="deleteModal = true; selectUser(user);">Delete</button></td>
			</tr>

		</table>
	</div>
	<div class="modal" v-if="showAddModal" id="addmodal">
		<div class="modalcontainer">
			<div class="modalHead">
				<p class="fleft">Modal Heading</p>
				<div class="fright close" @click="showAddModal = false;">x</div>
				<div class="clear"></div>
			</div>

			<div class="modalContent">
				
				<table class="form">
					<tr>
						<th>UserName</th>
						<th>:</th>
						<td><input type="text" name="" v-model="newUser.name"></td>
					</tr>
					<tr>
						<th>Email</th>
						<th>:</th>
						<td><input type="text" name="" v-model="newUser.email"></td>
					</tr>
					<tr>
						<th>Mobile</th>
						<th>:</th>
						<td><input type="text" name="" v-model="newUser.mobile"></td>
					</tr>
					<tr>
						<th></th>
						<th></th>
						<td><button @click="showAddModal = false; addUser();">Add user</button></td>
					</tr>
				</table>
			</div>


		</div>
	</div>

	<div class="modal" v-if="showeditModal" id="addmodal">
		<div class="modalcontainer">
			<div class="modalHead">
				<p class="fleft">Edit Modal</p>
				<div class="fright close" @click="showeditModal = false;">x</div>
				<div class="clear"></div>
			</div>

			<div class="modalContent">
				
				<table class="form">
					<tr>
						<th>UserName</th>
						<th>:</th>
						<td><input type="text" name="" v-model="clickedUser.name"></td>
					</tr>
					<tr>
						<th>Email</th>
						<th>:</th>
						<td><input type="text" name="" v-model="clickedUser.email"></td>
					</tr>
					<tr>
						<th>Mobile</th>
						<th>:</th>
						<td><input type="text" name="" v-model="clickedUser.mobile"></td>
					</tr>
					<tr>
						<th></th>
						<th></th>
						<td><button @click="showeditModal = false; updateUser();">update</button></td>
					</tr>
				</table>
			</div>


		</div>
	</div>
	<div class="modal" v-if="deleteModal" id="deletemodal">
		<div class="modalcontainer">
			<div class="modalHead">
				<p class="fleft" style="color:#fff;">Delete User</p>
				<div class="fright close" @click="deleteModal = false;">x</div>
				<div class="clear"></div>
			</div>

			<div class="modalContent">
				<p>You are going to delete '{{clickedUser.name}}'</p>
				<br><br><br><br>
				<button @click="deleteModal = false; deleteUser();">Yes</button>
				<button @click="deleteModal = false;">No</button>
			</div>


		</div>
	</div>

</div>
	<script type="text/javascript" src="axios.js"></script>
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>