*{
	margin:0;
	padding: 0;
}
.container{
	width: 960px;
	margin: auto;
	margin-top: 44px;
}
.fleft{
	float:left;
}
.flaot{
	float: right;
}

.addNew{
	float: right;
    background: #FDFD5D;
    font-size: 30px;
    padding:  2px 9px
}
.clear{
	clear: both;
}
h1{
	font-size: 22px;
}

table.list{
	width: 100%;
}
table.list th{
	background: #0e5196;
	color: #fff;
	padding: 9px;
}
table.list td{
	padding: 9px;
	text-align: center;
}
table.list tr{
	background: #eeeeee;
}
.modal{
	background: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.modalcontainer{
	width: 555px;
	background: #fff;
	margin:auto;
	margin-top: 44px;
}
.modalHead{
	padding: 6px;
	background: #06307c;
	columns: #fff;
}
.modalContent{
	min-height: 333px;
	padding: 44px;
}

.close {
    color: #fff;
    padding: 5px 10px;
    border: none;
    float: right;
    font-size: 15px;
    background: red;
}
table.form input, table.form td{
	padding: 5px;
}